.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.description {
  margin-bottom: 2rem;
}

.link {
  color: #0070f3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
